.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  /*background-image: url("http://res.cloudinary.com/time2emit/image/upload/v1507257468/4c13078c290e0cc9aac470d891759b4a_jgesgi.jpg");*/
    background-color: #BFD8D2;
}