body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  image: url("http://res.cloudinary.com/time2emit/image/upload/v1507257166/1a391d79f3532f82bd6b488b08ec5a47--dog-wallpaper-animal-wallpaper_rxoeeo.jpg");
}
