h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#welcome {
	padding: 10px;
	color: #FFA500;
}

#upperrow {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 300px;
	background: #00FFFF;
}

#lowerrow {
	color: #800000;
	margin-top: 40px;
	margin-bottom: 20px;
}