h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

#titleblock {
	margin: 0px;
}

#welcome {
	padding-left: 55px;
	color: #DCB239;
	font-family: 'Russo One', sans-serif;
	font-size: 100px;
}

#upperrow {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	height: 300px;
	background: #DF744A;
}

#lowerrow {
	margin-top: 40px;
	margin-bottom: 20px;
	padding-left: 20px;
	color: #DF744A;
	text-align: center;

}